# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Ignore Resharper files
_ReSharper*/
*.resharper*
*.DotSettings.user

# Ignore build output
bin/
obj/

# Ignore NuGet packages folder
packages/

# Ignore user-specific files
*.user

# Ignore .NET Core and Visual Studio files
.vscode/
*.launch.json
*.vscode/
*.csproj.user

# Ignore logs and database files
*.log
*.sqlite

# Ignore any personal or sensitive data
appsettings.json
wwwroot/DataMultimedia/


# Ignore Node.js files (if applicable)
node_modules/