<div class="row" style="height:100vh; width:100%; top:10%; position:relative;  display: flex;">
    <div class="col-1"></div>
    
    <div class="col-10" style="background: #32CD32">
       
        <div class="row" style="top:15%; height:10%;">
            <div class="col-11" style="background: #B8860B "></div>
            <div class="col-1" style="background: #00008B; ">exit</div>
        </div>

        <div class="row" style="top:25%; height:10%;">
            <div style="background: #6495ED">dassadadadas</div>
        </div>

        <div class="row" style="top:35%; height:10%;">
            <div class="col-3" style="background: #8A2BE2"></div>
            <div class="col-3" style=" background:#000000">exitexitexitexitexit</div>
        </div>


        <div class="row" style="top:35%; height:stretch; width:stretch; position:absolute">
            <div class="col-12" style="background: #00FFFF">exitexitexitexitexitexitexitexitexitexitexitexitexitexitexitexit</div>
        </div>

    </div>
    
    <div class="col-1"></div>
</div>