html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    z-index: 1000;
    width: 100%;
    display: flex;
}


.main-show-case {
    position: absolute;
    width: 100%;
    height: 30%;
    padding: 10px 10px !important;
    margin: 0px !important;
}

    .carousel-item {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .show-case img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-inner .carousel-item {
        transition: transform 0s ease;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        transform: translateX(0);
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-right.active {
        transform: translateX(100%);
    }

    .carousel-inner .carousel-item-left.active {
        transform: translateX(-100%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }



.stories-container {
    position: absolute;
    height: 15%;
    top: 30%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 10px !important;
    margin: 0px !important;
}

    .stories-element {
        padding: 0px;
    }

    .stories-element img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid;
        padding: 0px;
    }



.reels-style {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px !important;
    margin: 0px !important;
}

    .flash-stories {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

    .thumbnail-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
}

    .grid-item-reels {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        min-width: 17%;
        overflow: hidden;
        position: relative;
    }
