.testo-policy{
    position:absolute;
    width:100%;
    margin:0 !important;
}

.title-policy {
    text-align:left;
}

.header-policy{
    text-align:left;
}

.subtitle-policy {
    text-align: left;
    border-bottom: 5px solid #39FF14;
    display: inline-block;
    width: auto;
}

.content-policy {
    text-align: left;
}