.corpo-policy {
    min-height: 200vh;
    max-height: 800vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #474747;
    border: 10px solid #39FF14;
    border-radius: 30px;
    top: 50px;
    margin-bottom: 50px;
}
.testo{
    position:absolute;
    width:100%;
    top:5%;
}

.title-policy {
    text-align:left;
}
.header-policy{
    text-align:left;
}
.subtitle-policy {
    text-align: left;
    border-bottom: 5px solid #39FF14;
    display: inline-block; /* Mostra l'elemento come blocco in linea */
    width: auto;
}
.content-policy {
    text-align: left;
}