.container-flexbox-article {
    position: absolute;
    width: 100%;
    height: auto;
}

.right-text {
    margin: 0px;
}

.left-text {
    margin: 0px;
}

.right-text .image-article {
    order: 2;
}

.right-text .text-article {
    order: 1;
}

.right-text .image-article {
    order: 1;
}

.right-text .text-article {
    order: 2;
}

.text-article {
    width: 60%;
    padding: 5px;
}

.image-article {
    width: 40%;
    padding: 5px;
}

    .image-article .immagine {
        width: 100%;
    }

@media (max-width: 500px) {
    .row {
        flex-direction: row; /* Cambia in colonna sotto i 500px */
    }

    .right-text,
    .left-text {
        order: unset; /* Resetta l'ordine per la colonna */
    }
    .text-article,
    .image-article {
        width:100%;
    }
}