.main-corp-argument {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    border: 10px solid #F5F5F5;
    border-radius: 30px;
    top: 50px;
    margin-bottom: 50px;
}


.utility-bar-argument {
    position: absolute;
    width: 100%;
    top: 0%;
    height: 70px;
    border-bottom: 3px solid #D55858;
}

.menu-selection-argument {
    position: absolute;
    width: 100%;
    top: 70px;
    height: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.argument-display-header {
    display: flex;
    top: 110px;
    position: absolute;
    width: 100%;
    height: 200px;
}

.argument-display-header img {
    object-fit: cover;
    border: 3px solid;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container-class234-holder {
    display: flex;
    top: 310px;
    position: absolute;
    width: 100%;
    flex-direction: column;
    gap:20px;
}


.container-class234 {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin:0px;
    gap:20px;
}

.container-class234-extender {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin:0px;
}

.class-432 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.class-2 {
    display: inline-flex;
    width: 100%;
    height: 400px;
    margin:0px;
    padding:0px;
}

.class-2-element {
    flex: 1;
    height: 400px;
}

.class-3 {
    display: inline-flex;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 0px;
}

.class-3-element {
    flex: 1;
    height: 300px;
}

.class-4 {
    display: inline-flex;
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.class-4-element {
    flex: 1;
    height: 200px;
}

    .class-2-element img,
    .class-3-element img,
    .class-4-element img {
        object-fit: cover;
        border: 3px solid;
        padding: 0px;
        width: 100%;
        height: 80%;
    }


.show-more {
    display: flex;
    position: absolute;
    bottom: 10px;
}
