.colore-principale {
    background-color: #39FF14; /* verde fluo */
}

.colore-scritte-HV {
    color: #39FF14; /* verde fluo */
}
.colore-scritte-LV {
    color: #D1D1D1;
}

.colore-sfondo {
    background-color: #474747; /*grigio scuro / argento */
}