@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}

<div class="conteiner-try" style="min-height:700px">
    <h1 class="presentation-txt">Accedi per rimanere sempre aggiornato sui nuovi sviluppi delle nostre iniziative</h1>
    <button id="custom-login-btn" class="loginBtn loginBtn--facebook">Login with Facebook</button>
</div>

<script>
    document.getElementById('custom-login-btn').addEventListener('click', function () {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                // Utente già connesso, procedi con getUserData()
                statusChangeCallback(response);
            } else {
                // Utente non connesso, apri la finestra di dialogo di login di Facebook
                FB.login(function (loginResponse) {
                    statusChangeCallback(loginResponse);
                }, { scope: 'email' }); // Aggiungi altre autorizzazioni se necessario
            }
        });
    });
</script>

<link rel="stylesheet" href="~/css/LogSignInOut/Index.css" asp-append-version="true" />
