.argument-display-header {
    display: flex;
    top: 8%;
    position: absolute;
    width: 100%;
    height: 15%;
}

.argument-display-header img {
    object-fit: cover;
    border: 3px solid;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container-class234 {
    display: flex;
    top: 23%;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.class-432 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.class-2 {
    display: inline-flex;
    width: 100%;
    height: 400px;
    margin:0px;
    padding:0px;
}

.class-2-element {
    flex: 1;
    height: 400px;
}

.class-3 {
    display: inline-flex;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 0px;
}

.class-3-element {
    flex: 1;
    height: 300px;
}

.class-4 {
    display: inline-flex;
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.class-4-element {
    flex: 1;
    height: 200px;
}

    .class-2-element img,
    .class-3-element img,
    .class-4-element img {
        object-fit: cover;
        border: 3px solid;
        padding: 0px;
        width: 100%;
        height: 80%;
    }


.show-more {
    display: flex;
    position: absolute;
    bottom: 50px;
}
