@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}

@model GeopopRipoff.Models.Menu.MenuIndex;


<div class="row container-menu father-menu" style="">

    <div class="row go-back-to-home child-menu">

        <div class="link-back-go-back-to-home">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "" }))
            {

                <button class="invisible-button" style="display: flex; align-items: center">
                    <i class="fas fa-times" style="padding:5px"></i>
                    <span>CHIUDI</span>
                </button>

            }
        </div>
    </div>

    <div class="row utility-bar-menu child-menu">

        <div class="" style="width:auto; height: 100%;">

            @using (Html.BeginForm("Index", "LogSignInOut", FormMethod.Post, new { @class = "" }))
            {
                <button class="invisible-button" style="display: flex; align-items: center">
                    <img src="#" alt="Alternate Text" style="border-radius:50%; padding:5px" />
                    <span style="display: flex; flex-direction: column; justify-content: center;">
                        <span>Benvenuto</span>
                        @if (!string.IsNullOrEmpty(Model.Utente.Id_Username))
                        {
                            <span>@Model.Utente.Id_Username</span>
                        }
                    </span>
                </button>
            }
        </div>

        <div class="" style="display: flex; align-items: center; width:auto; height: 100%;">
            @using (Html.BeginForm("Notifiche", "Home", FormMethod.Post, new { @class = "" }))
            {
                <button class="invisible-button">
                    <i class="fas fa-bell"></i>
                </button>
            }
            <span style="display: flex; flex-direction: column; justify-content: center; padding:10px">
                <span>Hai X</span>
                <span>Nuove Notifiche</span>
            </span>


        </div>

    </div>

    <div class="row barra-di-ricerca-menu child-menu">
        <div style="">
            <form id="search-form" style="">
                <input type="text" id="search-input" placeholder="Cerca..." style="width:50%; padding:10px">
                <button type="submit" class="invisible-button button-special">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="row flexbox-try child-menu">
        @foreach (var item in Model.Argomenti)
        {

            <div class="grid-item-menu">
                @using (Html.BeginForm("Index", "Argument", FormMethod.Post, new { @class = "" }))
                {
                    @Html.Hidden("id_argomento", item.Id_Argomento)
                    <button class="invisible-button">
                        <h1>@item.Id_Argomento</h1>
                    </button>
                }
            </div>
        }
    </div>

</div>
<link rel="stylesheet" href="~/css/Menu/Index.css" asp-append-version="true" />
<script src="~/js/Menu/Index.js" asp-append-version="true"></script>
